numpy
wheel
torchnet
pytorch_metric_learning
torch-scatter
torch-cluster 
torch-sparse 
torch_geometric 
torchmetrics

PyYAML
pandas
open3d
plyfile 
matplotlib
tensorboard 
wandb
numba
omegaconf 
hydra-core 
h5py  
gdown
accelerate